.nav {
  display: flex;
  margin-top: 0%;
  background-color: rgb(241, 245, 245);

}

.nav-menu {
  padding-left: 10%;
}

.nav-search {
  padding-left: 10%;
  padding-right: 30%;
}

.nav-logo {
  /* padding-right: 10%; */
  padding-left: 10%;

}

.nav-profile {
  padding-left: 10%;
  align-items: end;
}